# Игнорировать все файлы временных настроек Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорировать папки сгенерированных сборок
bin/
obj/

# Игнорировать временные файлы
*.log
*.tmp
*.bak

# Игнорировать файлы настроек IDE
.idea/
*.iml
